{% extends 'base.html.twig' %}

{% block body %}
    <h1> WIP PROFIL </h1>
{{ dump() }}
    <a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a> <br/>
    <a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a> <br/>
    {% if (user.cv == null) %}
        <a href="{{ path('cv_new',{'id_user': user.id}) }}">Ajouter un CV</a><br/>
        {% else %}
            <a href="{{ path('cv_edit',{'id': user.cv.id,'id_user': user.id}) }}">Modifier mon CV</a><br/>
    {% endif %}


    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Profil public</th>
                <th>Newsletter</th>
                <th>Adresse</th>
                <th>CP</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Date</th>
                <th>Email</th>
                <th>CV</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{% if (user.profilIsPublic == 1) %} OUI {% else  %}NON {% endif %}</td>
                <td>{% if (user.newsletter == 1) %} OUI {% else  %}NON {% endif %}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.cp }}</td>
                <td>{{ user.ville }}</td>
                <td>0{{ user.phone }}</td>
                <td>{{ user.birthday|date("d/m/Y") }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.cv.cv }}</td>
            </tr>
        </tbody>
    </table>
    {% if (user.image == null) %}
        <a href="{{ path('image_new',{'id_user': user.id}) }}">Modifier ma photo</a>
    {% else %}
        <a href="{{ path('image_edit',{'id': user.image.id,'id_user': user.id}) }}">Modifier ma photo</a>
    {% endif %}

    {% if  user.image != "" %}
        <img class="image" src="{{ asset('uploads/img/' ~ user.image.image) }}">
    {% else %}
        <img class="image" src="{{ asset('img/default-avatar.png') }}">
        {#<img class="card-img-top" src="{{ asset('img/default-avatar.png') }}" alt="">#}
    {% endif %}


    <style>
        .image {
            background-size: cover;
            width: 300px;
            height: 300px;
        }
    </style>
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('js/profile/profile.js') }}"></script>
{% endblock javascripts %}